dist: xenial
language: python
python:
  - "3.6"
env:
  - BEANCOUNT="beancount>=2.1.2"
  - BEANCOUNT="hg+https://bitbucket.org/blais/beancount/"
matrix:
  allow_failures:
  - env: BEANCOUNT="hg+https://bitbucket.org/blais/beancount/"
addons:
  apt:
    packages:
      - cpanminus
      - ledger
install:
  - sudo cpanm --notest --installdeps .
  - pip install $BEANCOUNT
script:
  - make test
